
.wrap{
    background-color: white;
  margin-top: 12px;
  padding: 15px;
  border-radius: 10px;
}
  .table-controls {
    display: flex;
    flex-direction: row;
    justify-content: end;
     align-items: center;
    margin-bottom: 10px;
  }
  
  .table-controls input{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #a5a5a5;
    margin: 0 9px;
  }
  

  .tableDropdown{
    display: block;
  }
  .tableDropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    min-width: 150px;
    z-index: 1;
  }
  .tableDropdown-content a{
    padding: 12px;
    width: 100%;
  }
    .tableDropdown-content a:hover{
        background-color: #ccc;
  }

  .tableDropdown:hover .tableDropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tableDropdown-btn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: white;
    color: #a5a5a5;
    padding: 11px 13px;
    border: 1px solid #ccc;
    border-radius: 10px;
     cursor: pointer;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 40%;
    background-color: white;
    color: #a5a5a5;
   border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin: 0 5px;
  }

 /* .tableDropdown-btn:active {
    background-color: #0056b3;
    color: white;
  } */
  .create{
    background-color: #0E7B58;
    color: white;
  }
  .clear{
    background-color: rgb(247, 9, 9);
    color: white;
  }

  .filter-section {
    margin-bottom: 20px;
  }
  .filter-section label {
    margin-right: 10px;
  }
  .filter-section select, .filter-section input {
    margin-right: 15px;
  }
  input[type="text"], select {
   width: 50%;
   padding: 15px;
   margin-bottom: 5px;
   border-radius: 5px;
   border: 1px solid #ccc;
}

  .paginationWrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    margin-top: 16px;
  }
  .pagination button{
    padding: 15px;
    background-color: white;
    color: #a5a5a5;
   border-radius: 10px;
   margin: 0 5px;

  }